/*
+---------------------------------------+
|                                       |
|  Author : Akshay L. Aradhya           |
|  Website : https://dollarakshay.com/  |
|                                       |
+---------------------------------------+
*/


/* --------------------------------------
    Fonts
-------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Lato:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,400i,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Bungee);

/* --------------------------------------
    Global Styles
-------------------------------------- */

html,
body {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body h1 {
    font-size: 3em;
}

body h2 {
    font-size: 2.5em;
}

body h3 {
    font-size: 2em;
}

body h4 {
    font-size: 1.5em;
}

body h5 {
    font-size: 1.25em;
}

.center {
    text-align: center;
    margin: auto;
}

.small-caps {
    font-variant: small-caps;
}

.light-text {
    color: #ffffff;
}

.hidden {
    display: none;
}

.fa {
    display: block;
    margin: auto;
    min-width: 2em;
}

.bg-dark {
    background: #22292C !important;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
}

.flex {
    flex: 1;
}

.pycon-button {
    display: block;
    border: 2px solid rgb(200, 200, 200);
    color: #000000;
    font-family: 'Bungee', sans-serif;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 1em;
    -webkit-transition: border-width 0.5s ease 0s, border-top-color 0.6s ease 0s, border-right-color 0.6s ease 0.15s, border-bottom-color 0.6s ease 0.3s, border-left-color 0.6s ease 0.45s;
    transition: border-width 0.5s ease 0s, border-top-color 0.6s ease 0s, border-right-color 0.6s ease 0.15s, border-bottom-color 0.6s ease 0.3s, border-left-color 0.6s ease 0.45s;
}

.pycon-button:hover {
    border-width: 2px;
    border-top-color: #39e68f;
    border-right-color: #39e6ba;
    border-bottom-color: #39e6e6;
    border-left-color: #39bae6;
}

.md-whiteframe-1dp {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

.md-whiteframe-2dp {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)
}

.md-whiteframe-3dp {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12)
}

.md-whiteframe-4dp {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.md-whiteframe-5dp {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.md-whiteframe-6dp {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.md-whiteframe-7dp {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.md-whiteframe-8dp {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.md-whiteframe-9dp {
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.md-whiteframe-10dp {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.md-whiteframe-11dp {
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.md-whiteframe-12dp {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.md-whiteframe-13dp {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.md-whiteframe-14dp {
    box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.md-whiteframe-15dp {
    box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.md-whiteframe-16dp {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.md-whiteframe-17dp {
    box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.md-whiteframe-18dp {
    box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.md-whiteframe-19dp {
    box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.md-whiteframe-20dp {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.md-whiteframe-21dp {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.md-whiteframe-22dp {
    box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.md-whiteframe-23dp {
    box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.md-whiteframe-24dp {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}


/* --------------------------------------
    Media Querries
-------------------------------------- */


/* Small Mobiles */

@media (max-width:575px) {
    body {}
}


/* Large Mobiles */

@media (min-width:576px) and (max-width:767px) {
    body {}
    .container {
        max-width: 100%;
    }
}


/* Tablets */

@media (min-width:768px) and (max-width:991px) {
    body {}
}


/* Small Laptops and Desktops */

@media (min-width:992px) and (max-width:1199px) {
    body {}
}


/* Laptops and Desktops */

@media (min-width:1200px) and (max-width:1600px) {
    body {}
}


/* Large Laptops and Desktops */

@media (min-width:1600px) {
    body {}
    .container {
        width: 1500px;
        max-width: 1500px;
    }
}
