/*
+---------------------------------------+
|                                       |
|  Author : Akshay L. Aradhya           |
|  Website : https://dollarakshay.com/  |
|                                       |
+---------------------------------------+
*/


/* --------------------------------------
    Index Page Styles
-------------------------------------- */

#navbar {
    position: fixed;
    min-height: 70px;
    height: 70px;
    max-height: 70px;
    width: 100%;
    background: #1a1a1a;
    font-family: 'Bungee', sans-serif;
    z-index: 9999;
}

#navbar-inner {
    height: 100%;
}

#navbar-brand-img {
    height: 100%;
}

#navbar-links {
    color: #ffffff;
}

#navbar-links {
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

#navbar-links > div {
    position: relative;
}

#navbar-links > div::before,
#navbar-links > div::after {
    content: ' ';
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

#navbar-links > div::before {
    float: left
}

#navbar-links > div::after {
    position: relative;
    left: calc(100%);
}

#navbar-links > div:hover::before,
#navbar-links > div:hover::after {
    width: 100%;
    height: 100%;
}

#navbar-links > div:hover::before {
    border-top-color: #5bf593;
    border-right-color: #52de86;
    -webkit-transition: width 0.25s ease-out, height 0.2s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.2s ease-out 0.25s;
}

#navbar-links > div:hover::after {
    border-bottom-color: #4aaff7;
    border-left-color: #439cdc;
    left: 0;
    -webkit-transition: left 0.25s ease-out 0.3s, border-color 0s ease-out 0.3s, width 0.25s ease-out 0.3s, height 0.1s ease-out 0.55s;
    transition: left 0.25s ease-out 0.3s, border-color 0s ease-out 0.3s, width 0.25s ease-out 0.3s, height 0.1s ease-out 0.55s;
}

#navbar-links > div {
    padding-left: 2em;
    padding-right: 2em;
}

#navbar-buffer {
    min-height: 70px;
    height: 70px;
    max-height: 70px;
    background: #1a1a1a;
}

#banner {
    position: relative;
    min-height: 80%;
    background-color: rgba(0, 0, 0, 0.9) !important;
    overflow: hidden;
}

#banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/binary_bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    overflow: hidden;
}

#canvas {
    height: 66%;
}

#banner-text > h1 {
    display: none;
}

#banner-text > h2 {
    display: none;
}

.heading-container {
    width: 100px;
    margin: auto;
    margin-bottom: 2em;
    overflow: hidden;
}

.heading-underline {
    position: relative;
    height: 4px;
    width: 100px;
    left: -100px;
    margin: auto;
    background-color: #52de86;
    -webkit-animation-name: heading-animate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: heading-animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.underline-blue {
    background-color: #4aaff7;
}

.underline-green {
    background-color: #5bf593;
}

#footer-header {
    height: 70px;
}

#social-networks h5 {
    margin: 0px;
}

#email-input {
    color: #ffffff;
    border: 1px solid transparent;
    border-top-color: #23ad7f;
    border-right-color: #23ad96;
    border-bottom-color: #23adad;
    border-left-color: #2396ad;
}

#email-input:focus {
    outline: none;
}

#footer-brand-img {
    height: 100%;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes heading-animate {
    0% {
        left: -100px;
    }
    100% {
        left: 100px;
    }
}


/* Standard syntax */

@keyframes heading-animate {
    0% {
        left: -100px;
    }
    100% {
        left: 100px;
    }
}


/* --------------------------------------
    Media Querries
-------------------------------------- */


/* Small Mobiles */

@media (max-width:575px) {
    body {}
}


/* Large Mobiles */

@media (min-width:576px) and (max-width:767px) {
    body {}
}


/* Tablets */

@media (min-width:768px) and (max-width:991px) {
    body {}
}


/* Small Laptops and Desktops */

@media (min-width:992px) and (max-width:1199px) {
    body {}
}


/* Small Laptops and Desktops */

@media (min-width:1200px) {
    body {}
}


/* Laptops and Desktops */

@media (min-width:1200px) and (max-width:1600px) {
    body {}
}


/* Large Laptops and Desktops */

@media (min-width:1600px) {
    body {}
}
